{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
{% endblock %}
{% block content %}
<form action="{{url_for('auth.login')}}" method="POST">
    <div class="form-field">
        <label for="email">Email</label>
    <input type="text" name="email" id="email" autocomplete="email" required>
    </div>
    <div class="form-field">
        <label for="password">Password</label>
    <input type="password" name="password" id="password" autocomplete="current-password" required>
    </div>
    <div class="form-field">
        <button type="submit">Login</button>
    </div>
</form>
{% endblock %}